body {
  background-color: rgb(29, 28, 28);
}

.bolinha {
  width: 80px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 400px;
}

.tela {
  overflow: hidden;
  width: 800px;
  height: 600px;
  border: white 3px solid;
}

.nada {
  width: 100px;
  height: 100px;
  background-image: url("./desenhos/passaro.gif");
  position: relative;
  top: -37px;
  left: -10px;
  transform: scaleX(-1);
}
